:root {
    --main-color: rgb(22, 26, 48);
    --second-color: #31304D;
    --third-color: #B6BBC4;
    --fourth-color: #F0ECE5;
    --fontColor: #433fa5;
    ---heigth-calc: calc(75vh - 125px);
    ---width-col: 300px;
}

.Usredit,
.Information {
    width: 100%;
}

.Sp2 {
    height: 25%;
}

.form--setting {
    border-radius: 15px;
    width: 75%;
}

.cameraIcon {
    width: 25px;
    border-radius: 15px;
    display: flex;
    margin-left: 35px;
}

.-twof--part1 {
    width: 225px;
    display: flex;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    padding: 4px;
    height: max-content;
    border-radius: 5px;
    background-color: #31304D;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.parPhoto {
    font-family: monospace;
    font-weight: bolder;
    font-size: 15px;
}

.--Enable-2fa {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.Morocco {
    width: 25px;
    height: 25px;
}

.header--info {
    top: 0px;
    display: flex;
    flex-direction: row;
    position: relative;
    color: #31C48D;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 10px;
    padding: 20px;
}


#file {
    display: none;
}

.Sp {
    background-color: #161A30;
}

#uploadbtn {
   /* display: ; */
    display: flex;
    opacity: 0;
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #31304D;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.644);
    position: absolute;
    transition: all 0.3s ease;
    width: 200px;
    height: 200px;
    border-radius: 1.5rem;
}

.profile-image img:hover + .change-picture,
.change-picture:hover{
    opacity: 0.8 !important;
}

.click-function {
    background: linear-gradient(to right, #217441, #207a3f, #22A34A);
}

.Qrcode {
    border: 5px solid #4ccf7e;
    border-radius: 15px;
}