.gamesmodeCont {
    width: 70rem;
}

.owl-item .outli{
    border: dashed 2px rgb(97, 92, 92);
}

.owl-item :hover {

    /* background-color: red; */
    /* transform: rotate(22deg); */
    transition: 0.7s;
    /* .container { */
    /* } */
}

.center .container {
    /* background: theme('colors.zinc.900'); */
    background: radial-gradient(circle, rgba(34,193,195,0.237114914325105) 0%, theme('colors.zinc.900') 80%);
}
 /* .owl-carousel .owl-stage-outer .owl-stage .active .container {
    background-color: black;
} */

.owl-nav .disabled {
    display: block;
}