.gamesmodeCont {
    width: 70rem;
}

.owl-item .outli{
    border: dashed 2px rgb(97, 92, 92);
}

/* .owl-item :hover { */

    /* background-color: red; */
    /* transform: rotate(22deg); */
    /* .container { */
        /* } */
/* } */
    
.owl-item {
    filter: blur(calc(10px / 5));
}

.center :hover {
    transition: 0.7s;
}

.center {
    filter: none;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.center :hover .container4{
    transform-origin: bottom;
    transform: scale(1.05);
    transform: rotate(-6deg);
    /* background: radial-gradient(circle, rgba(34,193,195,0.237114914325105) %, theme('colors.zinc.900') 50%); */
    /* rgba(34,193,195,0.237114914325105) */
    background: theme('colors.zinc.900');
}
 /* .owl-carousel .owl-stage-outer .owl-stage .active .container {
    background-color: black;
} */

.owl-nav .disabled {
    display: block;
}

.gamesmodeCont {
    width: 100% !important;
}

.owl-stage {
    height: 350px;
}