.owl-carousel .owl-item img {
    width: 160px;
}
.gamesmodeCont {
    width: 76.2rem;
    overflow: hidden;
    padding-left: toRem(50);
    padding-right: toRem(50);
    position: relative;
    left: toRem(4);

}

[aria-label="progressbar"] .rounded-full {
    border-radius: 5px;
    background-color: #202026bf;
}