.all {
    /* width: 100%; */
    /* height: 90%; */
    /* height: 100vh; */
    /* position: absolute; */
}


.bn9 {
    padding: 2px;
    outline: 0;
    font-size: 17px;
    color: rgb(0, 0, 0);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#fdde5c),
      color-stop(#f8ab5e),
      color-stop(#f56a62),
      color-stop(#a176c8),
      color-stop(#759beb),
      color-stop(#65beb3),
      to(#70db96)
    );
    background: linear-gradient(
      to right,
      #fdde5c,
      #f8ab5e,
      #f56a62,
      #a176c8,
      #759beb,
      #65beb3,
      #70db96
    );
    border-radius: 30px;
    border: 0;
    box-shadow: none;
    cursor: pointer;
  }
  
  .bn9 > span {
    display: block;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 500;
    background: #ebebeb;
    border-radius: 30px;
  }


  /* .draggable {
    position: absolute;
    background-color: #007bff;
    color: white;
    text-align: center;
    line-height: 100px;
    cursor: grab;
  }
  
  .draggable:active {
    cursor: grabbing;
  } */

  .draggable video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This makes the video cover the entire element */
  }

  .ttt .span {
    -webkit-appearance: none;
    appearance: none;
    background-color: #4CAF50; /* Change to desired accent color */
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  
  #accept-call:checked + .span {
    transform: translateX(100%);
  }

.rsbcText {
  font-family: 'poppins' !important;
}
.rsbcSliderText {
  font-family: 'poppins' !important;
}