@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root 
{
    --main-color: rgb(22, 26, 48);
    --second-color: #31304D;
    --third-color: #B6BBC4;
    --fourth-color: #F0ECE5;
    --fontColor: #433fa5;
    ---heigth-calc: calc(75vh - 125px);
    ---width-col: 300px;
}


.Friends{
    /* background-color: theme('colors.main.light.SPRUCE'); */
    max-width:  calc(70%);
    height: 75vh;
    /* right: 1750px; */
    position: absolute;
    display: flex;
    /* right : 225px; */
    /* margin-left: -525px; */
    left: 125px;
    width: 95%;
    padding: 20px 15px 20px 20px;
    border-radius: 8px;
    /* top: 100px; */
    opacity: 1;
    overflow: hidden;
     /* background: var(--main-color); */
     
}

.Sel {
    position: absolute;
    max-width: var(--form-width);
    display: flex;
    flex-direction: column;
    width: calc(30%);
    overflow: hidden;
    height: auto;
    /* height: 96%; */
    padding: 20px;
    border-radius: 8px;
    background-color: theme('colors.zinc.900');
    /* background-color: var(--second-color); */
    /* text-decoration:underline; */
    /* text-decoration: ; */
    /* background: rgb(9,121,80);
    background: linear-gradient(90deg, rgba(9,121,80,1) 35%, rgba(0,212,255,1) 100%); */
}

.cheve {
    /* position: fixed; */
    /* right: 725px; */
    margin-left: calc( 68% );
}

.MatcheFin {
    margin-left: calc(35%);
    display: flex;
    /* right: calc(1%); */
    /* position: fixed; */
}

.sheap1{
    font-size: 20px;
    font-weight: bolder;
    height: 55px;
    /* color: var(); */
    text-align: center;
    text-decoration: underline;
    overflow: hidden;
    /* background-color: #161A30; */
    /* background: rgb(131,58,180); */
    /* color:var(--second-color); */
    /* color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  */
    margin-top: 45px;
    /* display: inline; */
}


.sheap2{
    font-size: 20px;
    font-weight: bolder;
    height: 55px;
    width: 20%;

    /* color: var(); */
    text-align: center;
    text-decoration: underline;
    overflow: hidden;
    margin-left: 1.5%;
    /* background-color: #161A30; */
    /* background: rgb(131,58,180); */
    /* color:var(--second-color); */
    /* color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  */
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    /* display: inline; */
}


.Progress {
    display: flex;
}
.op{
    display: block;
    width: calc(90%);
    height: 100vh;
    margin-top: 5px;
   
    /* border: 2px solid var(--main-color); */
    border-radius: 8px;
    transform: translateX(20%);
    position: relative;
    /* background-color: #161A30; */
}

.he-child{
    height: calc(7.5%);
}

.op-child{
    width: calc(70%);
    right: 15px;
    height: 20%;
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 15px;
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);  */
    /* background: linear-gradient(to right, #059669, #93C5FD); */
    background-color: var(--main-color);
}

.coal1{
    /* width: 65px; */
    border-radius: 50%;
    width: calc(200%);
    height: auto;
    display: flex;
    /* margin: 85px; */
    /* height: 65px; */
}

.coal2{
    border-radius: 50%;
    width: calc(200%);
    height: auto;
    display: flex;
    margin-left: calc(60%);
}
.child1{
    width: 30%; 
    background-color: #31304D;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

.child-ch1{
    /* display: flex; */
    /* flex-direction: row; */
    background-color: #31304D;
    width: calc(250%);
    /* background-color: #30c67c; */
    height: 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    transform: translateX(220%);
}
.ch1-p{
    position: absolute;
    display: flex;
    left: 5px;
    color: red;
    width: 15px;
}

.ch2-p{
    position: absolute;
    display: flex;
    left: calc(87%);
    width: 15px;
    color: green;
}

.ch3-p{
    background-color: var(--second-color);
    border-radius: 10px;
    width: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 5%;
    /* bottom: 65%; */
    /* bottom: 1%; */
    color: #f89b29;
    margin-left: 31.5%;
    /* transform: translateX(253%); */
    /* border: 1px solid #433fa5; */
    margin-top: 3.25%;

}

.ch4-p{
    background-color: var(--second-color);
    border-radius: 10px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 5%;
    /* bottom: 65%; */
    /* bottom: 1%; */
    color: #31304D;
    background: radial-gradient(circle, #ff0f7b 0%, #f89b29 100%);
    transform: translateX(150%);
    /* border: 1px solid #433fa5; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;

}


.ch5-p{
    background-color: var(--second-color);
    border-radius: 10px;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 5%;
    /* bottom: 65%; */
    /* bottom: 1%; */
    color: #31304D;
    background-color: green;
    transform: translateX(600%);
    background: radial-gradient(circle, #82f4b1 0%, #30c67c 100%);
    /* border: 1px solid #433fa5; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;

}

.ColorSwitch{
    position: absolute;
    left: 10px;
    /* height: 35px; */
    /* background-color: #433fa5; */
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.ColorSwitch span {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #31304D;
    /* background-color: va; */
}

.ColorSwitch span.active {
    border: 2px solid #433fa5;
    scale: 1.5;
}

.verify{
    /* color: #31304D; */
    border-radius: 50%;
    width: calc(10%);
    /* font-weight: bolder; */
    /* right: -55px; */
    height: auto;
    display: flex;
    /* background-color: #eee; */
    color: #433fa5;
    /* left: 250px; */
}

.Achevdecor{
    margin-left: 15px;
    font-weight: bolder;
    /* color: var(--fontColor); */
    font-size: 18px;
    color: black;
    width: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1.75%;
}

.appChart{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 75%;
    margin-left: 15%;
    margin-top: 5%;
    overflow: hidden;
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

.part1, .part2, .part3, .part4, .part5, .part6{
    border-radius: 10px;
}
   

@media screen  and (max-width: 2250px){
    .Friends {
        width: calc(70% - 65px);
        /* left: 25px; */
        /* background-color: green; */
    }
    /* .cheve {
        margin-left: calc(69%);
    } */
}


@media screen and (max-width: 2000px) {
    .Friends{
        left: 85px;
    }
}

@media screen and (max-width: 1925px) {

    .Friends{
        left: 25px;
    }
   
    
}


@media screen and (max-width: 1625px) {
    .formProfile{
        height: 100%;
    }
    /* .appChart{
        margin-left: 12%;
    } */
    .cheve{
        height: 47%;
        bottom: 0;
        margin-left: 35%;
        right: 1%;
    }
    .MatcheFin{
        height: 47%;
        right: 1%;
    }

    .Friends{
        width: 825px;
        left: 75px;
    }
    .Sel{
        width: 45%;
    }
    .sheap1{
        height: 70px;
    }
}



@media screen  and (max-width: 1475px){
    .Friends{
        left: 5px;
    }
    
}

@media screen and (max-width: 1400px) {
    .Friends{
        width: 725px;
    }
    .ch2-p{
        left: 75%;
    }
    /* .appChart{
        margin-left: 6%;
    } */
}

@media screen and (max-width: 525px) {
    .Friends{
        display: none;
    }
    .appChart{
        margin-left: 15%;
    }
}