@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root 
{
    --main-color: #161A30;
    --second-color: #31304D;
    --third-color: #B6BBC4;
    --fourth-color: #F0ECE5;
    ---list--color: #433fa5;
    --container-width: 455px;
    --form-width:430px;
}

.Sc
{
    width: 100%;
    height: 90%;
    display: flex;
    /* margin: 5%; */
    margin: 25px;
    background-color:var(--second-color);
    /* background-color: theme('colors.zinc.900'); */
    position: relative;
    padding: 5px;
}


.Sprofile{
    display: block;
    position: relative;
    /* flex-direction: row; */
    
    width: calc(24%);
    height: 95%;
    /* background-color:#161A30; */
    background-color: theme('colors.zinc.900');
    margin: 1%;
}

img.im-list2{
    position: absolute;
    top: 0;
    left: 50px;
    height: 5vh;
    left: 38.5%;
    width: 65px;
    margin-top: 230px;
    padding: 10px 14px;
    /* border:2.5px solid ; */
    /* background: var(--main-color); */
    border-radius: 50px;
    /* transition: var(--tran-05); */
    /* z-index: 100;   */
    /* opacity: 0.75; */
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
}

.titleprofile2{
    width: 100%;
    height: 175px;
    background-color: var(--second-color);
    border-radius: 100px;
}

/* @media screen and (max-width: 1300px) {
    .pr1, .pr2{
        height: 48%;
    }
    .pr3, .pr4{
        height: 48%;
        bottom: -50%;
        left: -50%;
    }
    .pr1, .pr2{
        width: calc(48%);
    }
} */